/* header */
.container-header{
  width: 100%;
  display: flex;
  /* background-color: #b5b5a9; */
  height: 70px;
}
.logo{
  position: absolute;
  top: 7px;
  left: 14px;
  /* color: white; */
  /* display: block; */
  text-align: center;
  font-family: 'Anton', sans-serif;
  font-family: 'Dela Gothic One', cursive;
  font-family: 'Libre Baskerville', serif;
  font-family: 'Tektur', cursive;
  font-size: 2.5rem;
  cursor: pointer;
}
/* searchbar */
/* Style for the search box container */
.search-container {
  display: flex;
  position: absolute;
  top: 1.5%;
  left: 34%;
  /* background-color: #f2f2f2; */
  border: 1px solid #ccc;
  border-radius: 37px;
  padding: 3px;
  width: 35%;
}


/* Style for the search icon */
.search-icon {
width: 7%;
text-align: center;
}
/* Center the search icon vertically and horizontally */
.search-icon i {
line-height: 30px;
}

/* Style for the search input */
.search-input {
border: none;
width: 80%;
padding: 5px;
}
/* navbar */
li{
  list-style: none;
}
.navbar{
  padding: 10px;
  padding-bottom: 24px;
  display: flex;
  gap: 63px;
  justify-content: center;
}
a{
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
}
.login{
  width: 8%;
  align-content : left;
  background-color: white;
  color: black;
  padding: 5px 0;
  margin  : 0 70px;
   border: 3px solid black;
  border-radius: 26px;
  cursor: pointer;
  text-align: center;
  text-size-adjust: 80px;
   position : absolute;
  top : 13px;
   left : 97%;
 margin-left : -125px;
 height:   6%;
 box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}
.login:hover{
  background-color: black;
  color: white;
  /* border: 2px solid black; */
  /* box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3); */
}



/* Top list starts here */
.card {
  flex-direction: row;
  max-width: 100%;
  height: 6.5cm;
  margin-left: 27px;
  margin-right: 27px;
}

.card img {
  max-width: 18%;

  padding: 0.5em;
  border-radius: 0.7em;
}

.round {
  color: black;
  border-radius: 5px;
  border: black;
}

.round:hover {
  background: #b0b0b0;
}

.Callbutton {
  border-radius: 20px;
  display: flex;
  margin-left: -4px;
  gap: 15px;
  border: black;
  padding: 8px;
  color: green;
  font-size: 1.1rem;
}

.text-section {
  padding-left: 0em;
}

.checked {
  color: gold;
}

.whatsapp {
  border-radius: 20px;
  display: flex;
  margin-left: -4px;
  margin-top: 21px;
  gap: 10px;
  border: black;
  /* padding: 8px; */
  color: green;
}

.whatsapp img {
  max-width: 17%;
  margin-left: 0px;
  margin-top: 3px;
  padding: 0em;
  border-radius: 0em;
}

.whatsapp span {
  margin-top: 6px;
  font-size: 1.1rem;
  margin-left: -5px;
}

#phone span {
  margin: 0px 9px;
}

#share span {
  margin: 0px 9px;
}

#book {
  background: rgb(19 155 233);
  font-weight: 600;
  color: white;
  border-radius: 6px;
  position: absolute;
  left: 88%;
}

#book span {
  margin: 3px 13px;
}

.card-desc {
  display: flex;
}

.address-card {
  max-width: 22%;
  height: 10cm;
  border: 1px solid rgb(0 0 0 / 13%);
  border-radius: 8px;
  margin-left: 27px;
  margin-right: 27px;
  margin-top: 9px;
}

.heading {
  font-size: 24px;
  font-weight: 500;
  padding: 20px 0px 20px 20px;
  letter-spacing: 1px;
}

.address {
  font-style: normal;
  line-height: 1.63;
  margin-bottom: 10px;
  padding: 0px 20px;
  font-size: 19px;
  font-weight: 400;
  color: #111;
}

.address-card button {
  margin-left: 14px;
  border: none;
  padding: 7px 17px;
  background: transparent;
  color: #0076d7;
}

.address-card button:hover {
  background: #eee;
  border-radius: 7px;
  /* margin: 5px 5px; */
}

.address-card button img {
  margin-right: 9px;
  margin-top: -3px;
}

.address-card button span {
  color: black;
  font-size: 18px;
  font-weight: 450;
}

hr {
  margin-right: 5px;
  margin-left: 5px;
}

#details {
  width: 94%;
  text-align: left;
  margin-top: -9px;
  margin-bottom: -9px;
}

.desc-card {
  /* display: flex;
  gap: 10%; */
  width: 100%;
  height: 14cm;
  border: 1px solid rgb(0 0 0 / 13%);
  border-radius: 8px;
  margin-left: -15px;
  margin-right: 27px;
  margin-top: 9px;
  line-height: 1cm;
}
.desc-classif{
  display: flex;
  gap: 10%;
}

li {
  list-style: none;
  font-size: 19px;
  font-weight: 500;
}

.desc-card img {
  height: 29px;
  width: 29px;
  margin-right: 10px;
}
.directions{
  color:#0076d7;
  font-size: 1.3rem;
}