body {
    font-family: Arial, sans-serif;
    /* background-color: #f4f4f4; */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(bg.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.login-container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding-bottom: 37px;
}

.login-container h1 {
    margin-bottom: 20px;
    text-align: center;
}


button {
    padding: 13px 30px;
    background-color: #777171;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1rem;
}
.btn{
    display: flex;
    justify-content: center;
    gap: 10px;
}

button:hover {
    background-color: black;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
a{
    text-decoration: none;
    color: white;
}