body{
    margin: 0;
    padding: 0;
    height: 2000px;
}
.container-header{
    width: 100%;
    display: flex;
    /* background-color: #b5b5a9; */
    height: 70px;
}
.logo{
    position: absolute;
    top: 7px;
    left: 14px;
    /* color: white; */
    /* display: block; */
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-family: 'Dela Gothic One', cursive;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Tektur', cursive;
    font-size: 2.5rem;
    cursor: pointer;
}
/* searchbar */
/* Style for the search box container */
.search-container {
    display: flex;
    position: absolute;
    top: 1.5%;
    left: 34%;
    /* background-color: #f2f2f2; */
    border: 1px solid #ccc;
    border-radius: 37px;
    padding: 3px;
    width: 35%;
  }
  /* Style for the search icon */
  .search-icon {
  width: 7%;
  text-align: center;
  }
  /* Center the search icon vertically and horizontally */
  .search-icon i {
  line-height: 30px;
  }
  
  /* Style for the search input */
  .search-input {
  border: none;
  width: 80%;
  padding: 5px;
  }
  /* Login */
  .login{
    width: 8%;
    align-content : left;
    background-color: white;
    color: black;
    padding: 5px 0;
    margin  : 0 70px;
     border: 3px solid black;
    border-radius: 26px;
    cursor: pointer;
    text-align: center;
    text-size-adjust: 80px;
     position : absolute;
    top : 13px;
     left : 97%;
   margin-left : -125px;
   height:   6%;
   box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  }
  .login:hover{
    background-color: black;
    color: white;
    /* border: 2px solid black; */
    /* box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3); */
  }
li{
    list-style: none;
}
.navbar{
    padding: 10px;
    /* background-color: yellow; */
    display: flex;
    gap: 63px;
    justify-content: center;
}
a{
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
}
.sec{
    padding: 10px 5%;
}
.sec2{
    padding: 1px 5%;
}
.categories{
    padding: 28px 166px;
    text-align: center;
    cursor: pointer;
    display: flex;
    gap: 92px;
}
.categories .card{
    width: 149px;
    height: 139px;
    background: whitesmoke;
    /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); */
    border-radius: 20px;
    padding: 5px;
    margin-bottom: 20px;   
}
.categories .card img{
    padding-top: 17px;
}
.desc{
    font-weight: bold;
    padding-top: 17px;
}
.card:hover{
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}
