/* header */
.container-header{
  width: 100%;
  display: flex;
  /* background-color: #b5b5a9; */
  height: 70px;
}
.logo{
  position: absolute;
  top: 7px;
  left: 14px;
  /* color: white; */
  /* display: block; */
  text-align: center;
  font-family: 'Anton', sans-serif;
  font-family: 'Dela Gothic One', cursive;
  font-family: 'Libre Baskerville', serif;
  font-family: 'Tektur', cursive;
  font-size: 2.5rem;
  cursor: pointer;
}
/* searchbar */
/* Style for the search box container */
.search-container {
  display: flex;
  position: absolute;
  top: 1.5%;
  left: 34%;
  /* background-color: #f2f2f2; */
  border: 1px solid #ccc;
  border-radius: 37px;
  padding: 3px;
  width: 35%;
}


/* Style for the search icon */
.search-icon {
width: 7%;
text-align: center;
}
/* Center the search icon vertically and horizontally */
.search-icon i {
line-height: 30px;
}

/* Style for the search input */
.search-input {
border: none;
width: 80%;
padding: 5px;
}
/* navbar */
li{
  list-style: none;
}
.navbar{
  padding: 10px;
  padding-bottom: 24px;
  display: flex;
  gap: 63px;
  justify-content: center;
}
a{
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
  font-weight: 500;
}
.login{
  width: 8%;
  align-content : left;
  background-color: white;
  color: black;
  padding: 5px 0;
  margin  : 0 70px;
   border: 3px solid black;
  border-radius: 26px;
  cursor: pointer;
  text-align: center;
  text-size-adjust: 80px;
   position : absolute;
  top : 13px;
   left : 97%;
 margin-left : -125px;
 height:   6%;
 box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}
.login:hover{
  background-color: black;
  color: white;
  /* border: 2px solid black; */
  /* box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3); */
}

/* list code starts here */
.card {
  flex-direction: row;
  max-width: 86%;
  cursor: pointer;
  height: 6.5cm;
}

.card img {
  max-width: 22%;

  padding: 0.5em;
  border-radius: 0.7em;
}
.round {
  color: black;
  
  border-radius: 20px;
  
  border: black;
}
 .Callbutton {

  color: black;
  
  border-radius: 20px;
  
  border: black;
  padding: 8px;
  color: green;
 }
 .text-section {

  padding-left: 0em;
 }
 .checked {
  color:gold;
  
  
}

